<html>
<body>
	<h1 style="text-align: center;"><strong><em>Summary</em></strong></h1>
	<hr style="border: none; border-top: 2px solid black;" />
	<table style="text-align: center; margin: 0 auto; width: 75%;">
		<thead>
			<tr style="background-color: dimgray; color: white">
				<th>
					Name
				</th>
				<th>
					Total Count
				</th>
				<th>
					Deleted Count
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Students Count
				</td>
				<td>
					@Model.StudentsCount
				</td>
				<td>
					@Model.DeletedStudentsCount
				</td>
			</tr>
			<tr>
				<td>
					Subjects Count
				</td>
				<td>
					@Model.SubjectsCount
				</td>
				<td>
					@Model.DeletedSubjectsCount
				</td>
			</tr>
			<tr>
				<td>
					Teachers Count
				</td>
				<td>
					@Model.TeachersCount
				</td>
				<td>
					@Model.DeletedTeachersCount
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>